/* Write your CSS here! */
body {
    display: block;
    margin: 8px;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px
}

#mainHeading {
    color: red;
}

#lc101 {
    position: absolute;
    height: 200px;
    width: 200px;
    padding: 0.1em;
    opacity: 0.5;  
    top: -75px;
    right: 10px;
}

.console_img {
    height: 200px;
    width: 275px;
    border-style: solid;
}

.funParagraph {
    color: green;
}

.consoleText {
    border-bottom: 10%;
}