/* Write your CSS here! */
#lc101 {
    position: absolute;
    height: 200px;
    width: 200px;
    padding: 0.1em;
    opacity: 0.5;  
    top: -75px;
    right: 10px;
}

.console_img {
    height: 200px;
    width: 275px;
    border-style: solid;
}